# 作業 : (Kaggle)鐵達尼生存預測
***
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察計數編碼與特徵雜湊的效果

# [作業重點]
- 仿造範例, 完成自己挑選特徵的群聚編碼 (In[2], Out[2])
- 觀察群聚編碼, 搭配邏輯斯回歸, 看看有什麼影響 (In[5], Out[5], In[6], Out[6])

# 作業1
* 試著使用鐵達尼號的例子，創立兩種以上的群聚編碼特徵( mean、median、mode、max、min、count 均可 )

In [1]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

data_path = ''
df = pd.read_csv(data_path + 'titanic_train.csv')

train_Y = df['Survived']
df = df.drop(['PassengerId', 'Survived'] , axis=1)
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
# 取一個類別型欄位, 與一個數值型欄位, 做群聚編碼
"""
Your Code Here
Age 跟 Pclass
"""

df['Pclass'] = df['Pclass'].fillna('None')
mean_df  = df.groupby(['Pclass'])['Age'].mean().reset_index()
max_df  = df.groupby(['Pclass'])['Age'].max().reset_index()
min_df  = df.groupby(['Pclass'])['Age'].min().reset_index()

temp = pd.merge(mean_df,max_df,how='left',on=['Pclass'])
temp = pd.merge(temp,min_df,how='left',on=['Pclass'])

temp.columns = (['Pclass','Age_mean','Age_max','Age_min'])

In [9]:
temp

   Pclass   Age_mean  Age_max  Age_min
0       1  38.233441     80.0     0.92
1       2  29.877630     70.0     0.67
2       3  25.140620     74.0     0.42

In [10]:
#只取 int64, float64 兩種數值型欄位, 存於 num_features 中
num_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
print(f'{len(num_features)} Numeric Features : {num_features}\n')

# 削減文字型欄位, 只剩數值型欄位
df = df[num_features]
df = df.fillna(-1)
MMEncoder = MinMaxScaler()
df.head()

5 Numeric Features : ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

   Pclass   Age  SibSp  Parch     Fare
0       3  22.0      1      0   7.2500
1       1  38.0      1      0  71.2833
2       3  26.0      0      0   7.9250
3       1  35.0      1      0  53.1000
4       3  35.0      0      0   8.0500

# 作業2
* 將上述的新特徵，合併原有的欄位做生存率預估，結果是否有改善?

In [15]:
# 原始特徵 + 邏輯斯迴歸
"""
Your Code Here
"""
train_X = pd.merge(df,temp,how='left',on=['Pclass'])
estimator = LogisticRegression()
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.68248956392805549

In [30]:
# 新特徵 + 邏輯斯迴歸
"""
Your Code Here
"""
train_X = pd.merge(df,temp,how='left',on=['Pclass'])
train_X_trans = MinMaxScaler().fit_transform(train_X)
estimator = LogisticRegression()
cross_val_score(estimator, train_X_trans, train_Y, cv=5).mean()

0.69711549134739603

In [31]:
train_X = train_X.drop(['Age', 'SibSp', 'Parch', 'Fare'],axis=1)
train_X_trans = MinMaxScaler().fit_transform(train_X)
estimator = LogisticRegression()
cross_val_score(estimator, train_X_trans, train_Y, cv=5).mean()

0.67915672353975665

Index(['Pclass', 'Age_mean', 'Age_max', 'Age_min'], dtype='object')